<br><br>
<form #equipoForm="ngForm" [formGroup]="registroEquiForm" (ngSubmit)="addequipo(equipoForm)" class="form-labels-on-top">

    <div class="form-title-row">
        <h1>Resgistro Equipo</h1>
    </div>

    <div class="form-row">
        <label>
            <span>Identificacion</span>
            <input type="text" name="identificacion" formControlName="identificacion" autocomplete="off" placeholder="identificacion">
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>Nombre</span>
            <input type="text" name="name" formControlName="name" autocomplete="off" placeholder="nombre equipo">
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>Jugadores</span>
            <input type="text"  formControlName="jugadores" placeholder="jugadores" disabled>
        </label>
    </div>   

    <div class="form-row">
        <label>
            <span>Categoria</span>
            <select name="dropdown" formControlName="categoria">
                <option>sub 12</option>
                <option>sub 14</option>
                <option>sub 16</option>
                <option>sub 18</option>
                <option>sub 21</option>
                <option>Equipo mayores</option>
            </select>
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>Entrenador</span>
            <input type="text "  formControlName="entrenador" placeholder="entrenador" disabled>
        </label>
    </div> 
    
    <div class="form-row">
        <label><span>Genero</span></label>
        <div class="form-radio-buttons" >

            <div>
                <label>
                    <input type="radio" name="genero" formControlName="genero">
                    <span>Femenino</span>
                </label>
            </div>

            <div>
                <label>
                    <input type="radio" name="genero">
                    <span>Masculino</span>
                </label>
            </div>

            <div>
                <label>
                    <input type="radio" name="genero">
                    <span>Otro</span>
                </label>
            </div>

        </div>

        <div class="form-row">
            <label>
                <span>Asistente</span>
                <input type="text "  formControlName="asistente" placeholder="asistente" disabled>
            </label>
        </div> 

        <div class="form-row">
            <label>
                <span>Estadistica</span>
                <input type="text "  formControlName="estadistica" placeholder="estadistica" disabled>
            </label>
        </div> 
    </div>




    <div class="form-row">
        <input type="submit" name="crear" value="Registrar equipo" id="sub">              
        <input type="button" name="borrar" (click)="resetForm(equipoForm)" value="borrar">  
    </div>

</form>
