
<br><br>
<form class="form-labels-on-top">

    <div class="form-title-row">
        <h1>Resgistro Club</h1>
    </div>

    <div class="form-title-row">
        <label>
            <img src="frontend\src\img\1.jpg" alt="">
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>identifiación</span>
            <input type="text" name="logo">
        </label>
    </div>

    


    <div class="form-row">
        <input type="submit" name="crear" value="Registrar club" id="sub">              
          
    </div>

</form>