

<br><br>


<form class="form-labels-on-top">

    <div class="form-title-row">
        <form class="form-search" name="clubequipobusqueda" >
            <input type="text" autocomplete="off" placeholder="busca equipos" id="busqueda">
            <button type="submit" (click)="buscar()">Search</button>
            <i class="fa fa-search"></i>
        </form>
    </div>

    <div class="form-row">
        <label id="buttons"> 
         <button  (click)="cambiaBusquedaEqui()" id="btnequipo">equipos</button>  
        <button (click)="cambiaBusquedaClub()" >clubs</button>
        <button  (click) = "redireccionRegistro()"><i class="fa fa-plus"></i></button>
        </label>
    </div>


</form>


