<div class="container">

<br><br>

<div class="row">
        <div class="col s3">
            <button class="button button1" (click)="cambiaBusquedaEqui()" id="btnequipo">equipos</button>
        </div>


        <div class="col s7">
            <div class="row">
                <div class="col s8">
                    <input type="text" class="buscar_texto" autocomplete="off" placeholder="busca equipos" id="busqueda" >
                </div>
                <div class="col s1">
                    <button class="button button2">
                        <i class="tiny material-icons">search</i>
                    </button>
                </div>
                <div class="col s2">
                 <button class="button button2" (click) = "redireccionClub()">
                     <i class="tiny material-icons">add</i>
                 </button>
                </div>
            </div>
           
            

        </div>
        
    </div>

    <div class="row">
        <div class="col s5">
            <button class="button button1" (click)="cambiaBusquedaClub()" >clubs</button>
        </div>
    </div>
</div>