.form-labels-on-top{
  box-sizing: border-box;
  max-width: 750px;
  margin: 0 auto;
  padding: 55px;

  background-color:  #F8F9F9;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  font: bold 16px sans-serif;
  text-align: center;
}

.form-labels-on-top .form-row{
  text-align: left;
  max-width: 300px;
  margin: 25px auto 0;
}

.form-labels-on-top .form-title-row{
  margin: 0 auto 40px;
}

.form-labels-on-top h1{
  display: inline-block;
  box-sizing: border-box;
  color: #4C565E;
  font-size: 24px;
  padding: 0 0 12px 0;
  margin: 0;
  border-bottom: 2px solid #6CAEE0;
}

.form-labels-on-top .form-row > label span{
  display: block;
  box-sizing: border-box;
  color:  #5f5f5f;
  width: 200px;
  padding: 0 0 12px;
  font: bold 14px sans-serif;
}

.form-labels-on-top input{
  color:  #5f5f5f;
  box-sizing: border-box;
  width: 300px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 18px;
  border: 1px solid #dbdbdb;
  background-color: #FBFCFC;
}

.form-labels-on-top input[type=radio],
.form-labels-on-top input[type=checkbox]{
  box-shadow: none;
  width: auto;
}

.form-labels-on-top select{
  background-color: #ffffff;
  color:  #5f5f5f;
  box-sizing: border-box;
  width: 240px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 18px;
  border: 1px solid #dbdbdb;
}

.form-labels-on-top .form-radio-buttons > div{
  margin-bottom: 10px;
}

.form-labels-on-top .form-radio-buttons label span{
  margin-left: 8px;
  color:  #5f5f5f;
  font-weight: normal;
}

.form-labels-on-top .form-radio-buttons input{
  width: auto;
}

.form-labels-on-top button{
  border-radius: 2px;
  background-color:  #6caee0;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin-top: 15px;
  font-size: 13px;
}

.input{
  width: 100%;
  margin-bottom: 15px;
  background-color:none ;
  
}



.form-labels-on-top.input[type="submit"]{
  border:none;
  outline:none;
  height: 35px;
  background: #65d0f0;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;

}


 .input[type="submit"]:hover{
  cursor: pointer;
  background: #37bee7;
  color:#fff;

}

 .input[type="submit"]:active{
  cursor: pointer;
  background: hsla(204, 95%, 61%, 0.774);
  color:#fff;
  box-shadow: 0 3px rgba(102, 102, 102, 0.582);
  transform: translateY(4px);

}

.input[type="button"]{
  border:none;
  outline:none;
  width: 45%;
  height: 35px;
  background: #65d0f0;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;
}


 .input[type="button"]:hover{
  cursor: pointer;
  background: #37bee7;
  color:#fff;

}

 .input[type="button"]:active{
  cursor: pointer;
  background: hsla(204, 95%, 61%, 0.774);
  color:#fff;
  box-shadow: 0 3px rgba(102, 102, 102, 0.582);
  transform: translateY(4px);

}

/*	Making the form responsive. Remove this media query
  if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

  .form-labels-on-top{
      padding: 30px;
  }

  .form-labels-on-top input{
      width: 240px;
  }

}







.form-search{
  margin: 0 auto;
  text-align: center;

  font: bold 13px sans-serif;
  max-width: 325px;
  position: relative;
}

.form-search input{
  width: 230px;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color:  #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 40px;
  border: 1px solid #b6c3cd;;
  border-right: 0;
  color:#4E565C;
  outline: none;
  -webkit-appearance: none;
}

.form-search button{
  background-color:  #6caee0;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  margin-left: -6px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2px;
  color: #ffffff;
  font-weight: bold;
  padding: 13,8px 25px;
  border: 0;
  margin-top: 14px;
}

.form-search i{
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 16px;
  color: #80A3BD;
}

/* Placeholder color */

.form-search input::-webkit-input-placeholder {
  color:  #879097;
}

.form-search input::-moz-placeholder {
  color:  #879097;
  opacity: 1;
}

.form-search input:-ms-input-placeholder {
  color:  #879097;
}


.button {
  background-color: white; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
}

.button:active {
  cursor: pointer;
  background-color: hsla(204, 95%, 61%, 0.774);
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.button1 {
  background-color : #65d0f0; 
  padding: 10px 32px;
  color: white; 
  border: none;
}

.button1:hover {

  background: #37bee7;
  color:white;
}

.button2 {
  background-color: #65d0f0; 
  padding: 3px 10px;
  color: white; 
  border: none;
}

.button2:hover {
  color: white;
  background: #37bee7;
}

.tiny {
  font-size: 20px; 
}




